@keyframes shine {
  from {
    opacity: 0;
    left: 0%;
  }
  50% {
    opacity: 1;
  }
  to {
    opacity: 0;
    left: 100%;
  }
}
section:has(.virtual-tour-secA) {
  position: relative;
}
section:has(.virtual-tour-secA)::after {
  content: "";
  position: absolute;
  bottom: -15%;
  right: 0%;
  width: 350px;
  height: 538px;
  background: url("../../../assets/images/Vectors/vector.png") no-repeat;
  z-index: -1;
  transform: scaleY(-1) scaleX(-1);
}
@media only screen and (max-width: 540px) {
  section:has(.virtual-tour-secA)::after {
    width: 250px;
    height: 350px;
    background-size: contain;
  }
}

section:has(.virtual-tour-secB-B) {
  position: relative;
}
section:has(.virtual-tour-secB-B)::before {
  content: "";
  position: absolute;
  bottom: -5%;
  left: -1%;
  width: 350px;
  height: 540px;
  background: url("../../../assets/images/Vectors/vector.png") no-repeat;
  z-index: -1;
  transform: scaleY(1);
}
@media only screen and (max-width: 540px) {
  section:has(.virtual-tour-secB-B)::before {
    width: 250px;
    height: 350px;
    background-size: contain;
  }
}

section:has(.virtual-tour-secB) {
  position: relative;
}
section:has(.virtual-tour-secB)::after {
  content: "";
  position: absolute;
  top: 15%;
  right: 0%;
  width: 350px;
  height: 538px;
  background: url("../../../assets/images/Vectors/vector.png") no-repeat;
  z-index: -1;
  transform: scaleY(-1) scaleX(-1);
}
@media only screen and (max-width: 540px) {
  section:has(.virtual-tour-secB)::after {
    width: 250px;
    height: 350px;
    background-size: contain;
  }
}

section:has(.machinery-infrastructure-swiper) {
  position: relative;
}
section:has(.machinery-infrastructure-swiper)::before {
  content: "";
  position: absolute;
  bottom: -5%;
  left: -1%;
  width: 350px;
  height: 540px;
  background: url("../../../assets/images/Vectors/vector.png") no-repeat;
  z-index: -1;
  transform: scaleY(1);
}
@media only screen and (max-width: 540px) {
  section:has(.machinery-infrastructure-swiper)::before {
    width: 250px;
    height: 350px;
    background-size: contain;
  }
}

section:has(.virtual-tour-secC) {
  position: relative;
}
section:has(.virtual-tour-secC)::after {
  content: "";
  position: absolute;
  bottom: -15%;
  right: 0%;
  width: 350px;
  height: 538px;
  background: url("../../../assets/images/Vectors/vector.png") no-repeat;
  z-index: -1;
  transform: scaleY(1) scaleX(-1);
}
@media only screen and (max-width: 540px) {
  section:has(.virtual-tour-secC)::after {
    width: 250px;
    height: 350px;
    background-size: contain;
  }
}

section:has(.virtual-tour-secD) {
  position: relative;
}
section:has(.virtual-tour-secD)::before {
  content: "";
  position: absolute;
  bottom: -5%;
  left: -1%;
  width: 350px;
  height: 540px;
  background: url("../../../assets/images/Vectors/vector.png") no-repeat;
  z-index: -1;
  transform: scaleY(1);
}
@media only screen and (max-width: 540px) {
  section:has(.virtual-tour-secD)::before {
    width: 250px;
    height: 350px;
    background-size: contain;
  }
}

section:has(.virtual-tour-secE) {
  position: relative;
}
section:has(.virtual-tour-secE)::before {
  content: "";
  position: absolute;
  bottom: -5%;
  left: -1%;
  width: 350px;
  height: 540px;
  background: url("../../../assets/images/Vectors/vector.png") no-repeat;
  z-index: 0;
  transform: scaleY(1);
}
@media only screen and (max-width: 540px) {
  section:has(.virtual-tour-secE)::before {
    width: 250px;
    height: 350px;
    background-size: contain;
  }
}

.virtual-tour-banner {
  position: relative;
  color: white;
  overflow: hidden;
  height: calc(100vh - var(--headerheight));
  z-index: 1;
  margin-top: calc(var(--headerheight));
}
@media only screen and (max-width: 1024px) {
  .virtual-tour-banner {
    height: 80vh;
  }
}
@media only screen and (max-width: 991px) {
  .virtual-tour-banner {
    height: 50vh;
  }
}
@media only screen and (max-width: 540px) {
  .virtual-tour-banner {
    height: 60vh;
  }
}
.virtual-tour-banner::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(270deg, rgba(0, 0, 0, 0) 14.81%, rgba(0, 0, 0, 0.45) 95.4%);
}
.virtual-tour-banner .common-background video, .virtual-tour-banner .common-background img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  z-index: -1;
}
@media only screen and (max-width: 540px) {
  .virtual-tour-banner .common-background .container {
    padding: 0;
  }
}
.virtual-tour-banner .common-background .container .bg-wrapper {
  position: absolute;
  z-index: 1;
  width: 90%;
  left: 50%;
  bottom: 25%;
  transform: translate(-50%);
}
@media only screen and (max-width: 991px) {
  .virtual-tour-banner .common-background .container .bg-wrapper {
    bottom: 10%;
  }
}
@media only screen and (max-width: 540px) {
  .virtual-tour-banner .common-background .container .bg-wrapper {
    bottom: 10%;
    margin-left: 0;
  }
}
.virtual-tour-banner .common-background .container .bg-wrapper h1 {
  font-weight: 700;
  font-size: 48px;
  line-height: 55px;
  padding-left: 20px;
  border-left: 8px solid var(--primary);
  margin-bottom: 10px;
}
@media only screen and (max-width: 991px) {
  .virtual-tour-banner .common-background .container .bg-wrapper h1 {
    max-width: 70%;
    line-height: 1.2;
    font-size: 40px;
  }
}
@media only screen and (max-width: 540px) {
  .virtual-tour-banner .common-background .container .bg-wrapper h1 {
    max-width: 100%;
    font-size: 25px;
    line-height: 1.1;
    text-align: center;
    padding: 0 20px;
    margin-bottom: 20px;
    border-left: 0;
  }
}
.virtual-tour-banner .common-background .container .bg-wrapper p {
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: var(--white);
  max-width: 609px;
}
@media only screen and (max-width: 540px) {
  .virtual-tour-banner .common-background .container .bg-wrapper p {
    text-align: center;
    max-width: 90%;
    margin: auto;
    font-size: 15px;
    line-height: 1.3;
  }
}
.virtual-tour-banner .common-background .container .bg-wrapper .btn2 {
  border-radius: 5px;
  font-weight: 700;
  font-size: 16px;
  line-height: 100%;
  padding: 12px 25px;
  z-index: 1;
  width: -moz-fit-content;
  width: fit-content;
  margin-top: 40px;
}
@media only screen and (max-width: 1024px) {
  .virtual-tour-banner .common-background .container .bg-wrapper .btn2 {
    padding: 5px 15px;
  }
}
@media only screen and (max-width: 768px) {
  .virtual-tour-banner .common-background .container .bg-wrapper .btn2 {
    position: relative;
    width: -moz-fit-content;
    width: fit-content;
    margin: 10px auto 0;
  }
}
.virtual-tour-banner .common-background .container .bg-wrapper .btn2::before {
  border-radius: 50px;
}
.virtual-tour-banner .common-background .container .bg-wrapper .btn2::after {
  border-radius: 50px;
}

.sticky {
  margin-bottom: 50px;
  background: var(--white);
  z-index: 2 !important;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.sticky .flex-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.sticky .flex-box .tab-nav {
  display: flex;
  align-items: center;
  gap: 10px;
}
.sticky .flex-box .tab-nav li {
  padding: 20px 30px;
  font-weight: 600;
  font-size: 16px;
  line-height: 100%;
  text-align: center;
  position: relative;
  transition: 0.5s ease;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
}
.sticky .flex-box .tab-nav li::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0%;
  height: 5px;
  background: var(--primary);
  transition: 0.5s ease;
}
.sticky .flex-box .tab-nav li svg {
  height: 22px;
}
.sticky .flex-box .tab-nav li svg path {
  fill: var(--text);
}
.sticky .flex-box .tab-nav li:nth-child(2) svg path, .sticky .flex-box .tab-nav li:nth-child(3) svg path {
  fill: var(--white);
  stroke: var(--text);
}
.sticky .flex-box .tab-nav li.active::before {
  width: 100%;
}
.sticky .flex-box .tab-nav li.active {
  color: var(--primary);
}
.sticky .flex-box .tab-nav li.active svg path {
  fill: var(--primary);
}
.sticky .flex-box .tab-nav li.active:nth-child(2) svg path, .sticky .flex-box .tab-nav li.active:nth-child(3) svg path {
  fill: var(--white);
  stroke: var(--primary);
}
.sticky .flex-box .custom-select {
  padding: 10px;
  border: 1px solid rgba(102, 102, 102, 0.5411764706);
  width: 214px;
  height: 36px;
  border-radius: 5px;
  gap: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  --paddingleftright: 10px;
  width: -moz-fit-content;
  width: fit-content;
}
.sticky .flex-box .custom-select .current {
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  color: var(--text);
}

.virtual-tour-secA {
  padding: 50px 0;
  position: relative;
}
.virtual-tour-secA::before {
  content: "";
  position: absolute;
  top: -40%;
  left: 50%;
  width: 667px;
  height: 667px;
  transform: translate(-50%, -50%);
  background: #ffffff;
  filter: blur(60px);
  border-radius: 50%;
  z-index: -1;
}
@media only screen and (max-width: 540px) {
  .virtual-tour-secA::before {
    content: none;
  }
}
.virtual-tour-secA::before {
  top: 50%;
  left: 60%;
}
.virtual-tour-secA .flex-box {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 60px;
}
.virtual-tour-secA .flex-box figure {
  width: 50%;
  max-width: 580px;
  height: 416px;
  border-radius: 10px;
  overflow: hidden;
}
.virtual-tour-secA .flex-box figure img, .virtual-tour-secA .flex-box figure video {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.virtual-tour-secA .flex-box .content {
  width: 50%;
}
.virtual-tour-secA .flex-box .content h2 {
  font-weight: 700;
  font-size: 36px;
  color: var(--black);
  position: relative;
  margin-bottom: 30px;
  line-height: 1.1;
}
.virtual-tour-secA .flex-box .content h2::before {
  content: "";
  position: absolute;
  bottom: -10%;
  left: 0;
  width: 45px;
  height: 5px;
  background: var(--primary);
}

.virtual-tour-secB-B {
  padding: 50px 0;
}
.virtual-tour-secB-B h2 {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.1;
  max-width: 522px;
  margin: auto;
  text-align: center;
}
.virtual-tour-secB-B .custom-swiper {
  margin: 50px 0 0 0;
}
.virtual-tour-secB-B .custom-swiper .custom-swiper-wrapper {
  display: flex;
  gap: 20px;
}
.virtual-tour-secB-B .custom-swiper .custom-swiper-wrapper .custom-swiper-slide {
  width: 20%;
  height: 422px;
  border-radius: 10px;
  overflow: hidden;
  transition: 0.7s ease;
  position: relative;
  cursor: pointer;
}
.virtual-tour-secB-B .custom-swiper .custom-swiper-wrapper .custom-swiper-slide:hover {
  width: 23%;
}
.virtual-tour-secB-B .custom-swiper .custom-swiper-wrapper .custom-swiper-slide.active {
  width: 100%;
}
.virtual-tour-secB-B .custom-swiper .custom-swiper-wrapper .custom-swiper-slide.active::after {
  backdrop-filter: blur(0px);
}
.virtual-tour-secB-B .custom-swiper .custom-swiper-wrapper .custom-swiper-slide.active figcaption {
  height: auto;
  padding: 30px 30px;
  gap: 30px;
  display: initial;
}
.virtual-tour-secB-B .custom-swiper .custom-swiper-wrapper .custom-swiper-slide.active figcaption span {
  opacity: 0;
  scale: 0;
}
.virtual-tour-secB-B .custom-swiper .custom-swiper-wrapper .custom-swiper-slide.active figcaption h3 {
  margin: 0;
  position: static;
  bottom: 55%;
  max-width: 325px;
  transform: rotate(0deg);
  margin: 0;
}
.virtual-tour-secB-B .custom-swiper .custom-swiper-wrapper .custom-swiper-slide::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.65) 100%);
}
.virtual-tour-secB-B .custom-swiper .custom-swiper-wrapper .custom-swiper-slide::after {
  content: "";
  position: absolute;
  inset: 0;
  backdrop-filter: blur(25px);
  z-index: 0;
  transition: 0.7s ease;
}
.virtual-tour-secB-B .custom-swiper .custom-swiper-wrapper .custom-swiper-slide img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.virtual-tour-secB-B .custom-swiper .custom-swiper-wrapper .custom-swiper-slide figcaption {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 100%;
  width: 100%;
  padding: 30px 20px;
  z-index: 1;
  transition: 0.7s ease;
  display: flex;
  flex-direction: column-reverse;
  gap: 30px;
  align-items: center;
}
.virtual-tour-secB-B .custom-swiper .custom-swiper-wrapper .custom-swiper-slide figcaption span {
  display: inline-block;
  width: 46px;
  height: 46px;
  border-radius: 25px;
  transition: 0.7s ease;
}
.virtual-tour-secB-B .custom-swiper .custom-swiper-wrapper .custom-swiper-slide figcaption span img {
  height: 100%;
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
.virtual-tour-secB-B .custom-swiper .custom-swiper-wrapper .custom-swiper-slide figcaption h3 {
  font-weight: 500;
  font-size: 20px;
  line-height: 28px;
  color: var(--white);
  position: absolute;
  bottom: 55%;
  width: 20rem;
  transition: transform 1s ease, margin 1s ease;
  transform: rotate(-90deg);
  transform-origin: center;
}

.virtual-tour-secB {
  padding: 50px 0;
  position: relative;
}
.virtual-tour-secB::before {
  content: "";
  position: absolute;
  top: -40%;
  left: 50%;
  width: 667px;
  height: 667px;
  transform: translate(-50%, -50%);
  background: #ffffff;
  filter: blur(60px);
  border-radius: 50%;
  z-index: -1;
}
@media only screen and (max-width: 540px) {
  .virtual-tour-secB::before {
    content: none;
  }
}
.virtual-tour-secB::before {
  top: 20%;
  left: 40%;
}
.virtual-tour-secB h2 {
  font-weight: 700;
  font-size: 48px;
  text-align: center;
  max-width: 400px;
  line-height: 1.1;
  margin: auto;
}
.virtual-tour-secB .virtual-tour-secB-banner {
  position: relative;
  color: white;
  z-index: 1;
  margin-top: 40px;
  height: 596px;
  border-radius: 10px;
  overflow: hidden;
  position: relative;
}
@media only screen and (max-width: 1024px) {
  .virtual-tour-secB .virtual-tour-secB-banner {
    height: 80vh;
  }
}
@media only screen and (max-width: 991px) {
  .virtual-tour-secB .virtual-tour-secB-banner {
    height: 50vh;
  }
}
@media only screen and (max-width: 540px) {
  .virtual-tour-secB .virtual-tour-secB-banner {
    height: 60vh;
  }
}
.virtual-tour-secB .virtual-tour-secB-banner .common-background video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  z-index: -1;
}
.virtual-tour-secB .machinery-infrastructure-swiper {
  padding: 50px 0;
  position: relative;
}
.virtual-tour-secB .machinery-infrastructure-swiper .swiper-nav {
  width: 103%;
  max-width: 103%;
}
.virtual-tour-secB .machinery-infrastructure-swiper .swiper .swiper-wrapper .swiper-slide {
  background: var(--white);
  border-radius: 15px;
  overflow: hidden;
}
.virtual-tour-secB .machinery-infrastructure-swiper .swiper .swiper-wrapper .swiper-slide:hover figure img {
  scale: 1.1;
}
.virtual-tour-secB .machinery-infrastructure-swiper .swiper .swiper-wrapper .swiper-slide figure {
  height: 288px;
  overflow: hidden;
  padding: 20px;
}
.virtual-tour-secB .machinery-infrastructure-swiper .swiper .swiper-wrapper .swiper-slide figure img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  transition: 0.5s ease;
}
.virtual-tour-secB .machinery-infrastructure-swiper .swiper .swiper-wrapper .swiper-slide figcaption {
  padding: 20px 50px 50px 50px;
}
.virtual-tour-secB .machinery-infrastructure-swiper .swiper .swiper-wrapper .swiper-slide figcaption h3 {
  font-weight: 700;
  font-size: 18px;
  line-height: 100%;
  text-align: center;
  color: var(--black);
  margin-bottom: 23px;
}
.virtual-tour-secB .machinery-infrastructure-swiper .swiper .swiper-wrapper .swiper-slide figcaption p {
  text-align: center;
  font-weight: 400;
  font-size: 16px;
}

.virtual-tour-secC {
  padding: 50px 0;
}
.virtual-tour-secC h2 {
  text-align: center;
  font-weight: 700;
  font-size: 36px;
  margin-bottom: 40px;
}
.virtual-tour-secC .grid-box {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 20px;
}
.virtual-tour-secC .grid-box .grid-box-item {
  background: var(--white);
  border-radius: 10px;
  padding: 30px 20px;
}
.virtual-tour-secC .grid-box .grid-box-item figure {
  height: 63px;
  width: 63px;
  line-height: 0;
  margin: 0 auto 20px;
}
.virtual-tour-secC .grid-box .grid-box-item figure img {
  height: 100%;
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
.virtual-tour-secC .grid-box .grid-box-item p {
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: var(--text);
}
.virtual-tour-secC .flex-box {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  background: var(--primary);
  padding: 20px 30px;
  margin-top: 40px;
  gap: 120px;
}
.virtual-tour-secC .flex-box p {
  font-size: 20px;
  line-height: 30px;
  color: var(--white);
  max-width: 782px;
}
.virtual-tour-secC .flex-box p strong {
  font-weight: 700;
}

.virtual-tour-secD h2 {
  text-align: center;
}
.virtual-tour-secD .photo-grid-box {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px 20px;
  margin: 40px auto 80px;
}
.virtual-tour-secD .photo-grid-box .col {
  height: 324px;
  line-height: 0;
  overflow: hidden;
  border-radius: 10px;
  position: relative;
}
.virtual-tour-secD .photo-grid-box .col::before {
  content: "";
  position: absolute;
  inset: 0;
  top: 0;
  left: 0;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.45) 100%);
  z-index: 1;
  transition: 0.7s ease;
}
.virtual-tour-secD .photo-grid-box .col::after {
  content: "";
  position: absolute;
  inset: 0;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5882352941);
  z-index: 0;
  transition: 0.7s ease;
  opacity: 0;
}
.virtual-tour-secD .photo-grid-box .col:hover::before {
  opacity: 0;
}
.virtual-tour-secD .photo-grid-box .col:hover::after {
  opacity: 1;
}
.virtual-tour-secD .photo-grid-box .col:hover figcaption {
  bottom: 45%;
  padding: 0;
  z-index: 1;
}
.virtual-tour-secD .photo-grid-box .col:hover img {
  scale: 1.1;
}
.virtual-tour-secD .photo-grid-box .col img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  transition: 0.7s ease;
}
.virtual-tour-secD .photo-grid-box .col figcaption {
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translate(-50%);
  z-index: 1;
  text-align: center;
  width: 90%;
  padding: 40px 0;
  transition: 0.7s ease;
}
.virtual-tour-secD .photo-grid-box .col figcaption h4 {
  font-weight: 600;
  font-size: 20px;
  line-height: 1.2;
  color: var(--white);
}
@media only screen and (max-width: 1024px) {
  .virtual-tour-secD .photo-grid-box .col figcaption h4 {
    font-size: 18px;
  }
}

.virtual-tour-secE {
  background: white;
  padding: 70px 0;
}
.virtual-tour-secE .flex-box {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 50px;
  position: relative;
  z-index: 1;
}
.virtual-tour-secE .flex-box .col .top {
  border-left: 5px solid var(--primary);
  padding-left: 30px;
}
.virtual-tour-secE .flex-box .col .top h2 {
  font-weight: 700;
  font-size: 36px;
  line-height: 1;
  margin-bottom: 10px;
}
.virtual-tour-secE .flex-box .col .top p {
  max-width: 380px;
}
.virtual-tour-secE .flex-box .col .btn2 {
  display: inline-block;
  margin: 20px 0 0 30px;
}
.virtual-tour-secE .flex-box .col:last-child {
  width: 548px;
  height: 407px;
  line-height: 0;
}
.virtual-tour-secE .flex-box .col:last-child img {
  height: 100%;
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}/*# sourceMappingURL=virtual-tour.css.map */