@import '../_var'

section:has(.virtual-tour-secA)
    position: relative
    &::after
        content: ""
        position: absolute
        bottom: -15%
        right: 0%
        width: 350px
        height: 538px
        background: url("../../../assets/images/Vectors/vector.png") no-repeat
        z-index: -1
        transform: scaleY(-1) scaleX(-1)
        @include media(540)
            width: 250px
            height: 350px
            background-size: contain
            
section:has(.virtual-tour-secB-B)
    position: relative
    &::before
        content: ""
        position: absolute
        bottom: -5%
        left: -1%
        width: 350px
        height: 540px
        background: url("../../../assets/images/Vectors/vector.png") no-repeat
        z-index: -1
        transform: scaleY(1)
        @include media(540)
            width: 250px
            height: 350px
            background-size: contain

section:has(.virtual-tour-secB)
    position: relative
    &::after
        content: ""
        position: absolute
        top: 15%
        right: 0%
        width: 350px
        height: 538px
        background: url("../../../assets/images/Vectors/vector.png") no-repeat
        z-index: -1
        transform: scaleY(-1) scaleX(-1)
        @include media(540)
            width: 250px
            height: 350px
            background-size: contain

section:has(.machinery-infrastructure-swiper)
    position: relative
    &::before
        content: ""
        position: absolute
        bottom: -5%
        left: -1%
        width: 350px
        height: 540px
        background: url("../../../assets/images/Vectors/vector.png") no-repeat
        z-index: -1
        transform: scaleY(1)
        @include media(540)
            width: 250px
            height: 350px
            background-size: contain

section:has(.virtual-tour-secC)
    position: relative
    &::after
        content: ""
        position: absolute
        bottom: -15%
        right: 0%
        width: 350px
        height: 538px
        background: url("../../../assets/images/Vectors/vector.png") no-repeat
        z-index: -1
        transform: scaleY(1) scaleX(-1)
        @include media(540)
            width: 250px
            height: 350px
            background-size: contain

section:has(.virtual-tour-secD)
    position: relative
    &::before
        content: ""
        position: absolute
        bottom: -5%
        left: -1%
        width: 350px
        height: 540px
        background: url("../../../assets/images/Vectors/vector.png") no-repeat
        z-index: -1
        transform: scaleY(1)
        @include media(540)
            width: 250px
            height: 350px
            background-size: contain

section:has(.virtual-tour-secE)
    position: relative
    &::before
        content: ""
        position: absolute
        bottom: -5%
        left: -1%
        width: 350px
        height: 540px
        background: url("../../../assets/images/Vectors/vector.png") no-repeat
        z-index: 0
        transform: scaleY(1)
        @include media(540)
            width: 250px
            height: 350px
            background-size: contain



.virtual-tour-banner
    position: relative
    color: white
    overflow: hidden
    height: calc( 100vh - var(--headerheight) )
    z-index: 1
    margin-top: calc(var(--headerheight))
    @include media(1024)
        height: 80vh
    @include media(991)
        height: 50vh
    @include media(540)
        height: 60vh
    &::before
        content: ''
        position: absolute
        top: 0
        left: 0
        width: 100%
        height: 100%
        background: linear-gradient(270deg, rgba(0, 0, 0, 0) 14.81%, rgba(0, 0, 0, 0.45) 95.4%)
    .common-background
        video,img
            position: absolute
            top: 0
            left: 0
            width: 100%
            height: 100%
            object-fit: cover
            z-index: -1
        .container
            @include media(540)
                padding: 0
            .bg-wrapper
                position: absolute
                z-index: 1
                width: 90%
                left: 50%
                bottom: 25%
                transform: translate(-50%)
                @include media(991)
                    bottom: 10%
                @include media(540)
                    bottom: 10%
                    margin-left: 0
                h1
                    font-weight: 700
                    font-size: 48px
                    line-height: 55px
                    padding-left: 20px
                    border-left: 8px solid $primary
                    margin-bottom: 10px
                    @include media(991)
                        max-width: 70%
                        line-height: 1.2
                        font-size: 40px
                    @include media(540)
                        max-width: 100%
                        font-size: 25px
                        line-height: 1.1
                        text-align: center
                        padding: 0 20px
                        margin-bottom: 20px
                        border-left: 0
                p
                    font-weight: 600
                    font-size: 16px
                    line-height: 24px
                    color: $white
                    max-width: 609px
                    @include media(540)
                        text-align: center
                        max-width: 90%
                        margin: auto
                        // font-weight: normal
                        font-size: 15px
                        line-height: 1.3
                .btn2
                    border-radius: 5px
                    font-weight: 700
                    font-size: 16px
                    line-height: 100%
                    padding: 12px 25px
                    z-index: 1
                    width: fit-content
                    margin-top: 40px
                    @include media(1024)
                        padding: 5px 15px
                    @include media(768)
                        position: relative
                        width: fit-content
                        margin: 10px auto 0
                    &::before
                        border-radius: 50px
                    &::after
                        border-radius: 50px



.sticky
    margin-bottom: 50px
    background: $white
    z-index: 2 !important
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px
    .flex-box
        display: flex
        justify-content: space-between
        align-items: center
        .tab-nav
            display: flex
            align-items: center
            gap: 10px
            li
                padding: 20px 30px
                font-weight: 600
                font-size: 16px
                line-height: 100%
                text-align: center
                position: relative
                transition: 0.5s ease

                display: flex
                justify-content: center
                align-items: center
                gap: 15px
                &::before
                    content: ""
                    position: absolute
                    bottom: 0
                    left: 0
                    width: 0%
                    height: 5px
                    background: $primary
                    transition: 0.5s ease
                svg
                    height: 22px
                    path
                        fill: $text
                &:nth-child(2),&:nth-child(3)
                    svg
                        path
                            fill: $white
                            stroke: $text
                &.active
                    &::before
                        width: 100%
                    color: $primary
                    svg
                        path
                            fill: $primary
                    &:nth-child(2),&:nth-child(3)
                        svg
                            path
                                fill: $white
                                stroke: $primary
                    
        .custom-select
            padding: 10px
            border: 1px solid #6666668A
            width: 214px
            height: 36px
            border-radius: 5px
            gap: 10px

            display: flex
            justify-content: space-between
            align-items: center
            --paddingleftright: 10px
            width: fit-content
            .current
                font-weight: 400
                font-size: 16px
                line-height: 16px
                color: $text


.virtual-tour-secA
    padding: 50px 0
    @include beforeLayerBlur
    &::before
        top: 50%
        left: 60%
    .flex-box
        display: flex
        justify-content: center
        align-items: center
        gap: 60px
        figure
            width: 50%
            max-width: 580px
            height: 416px
            border-radius: 10px
            overflow: hidden
            img,video
                height: 100%
                width: 100%
                object-fit: cover
        .content
            width: 50%
            h2
                font-weight: 700
                font-size: 36px
                color: $black
                position: relative
                margin-bottom: 30px
                line-height: 1.1
                &::before
                    content: ""
                    position: absolute
                    bottom: -10%
                    left: 0
                    width: 45px
                    height: 5px
                    background: $primary
           
.virtual-tour-secB-B
    padding: 50px 0 
    h2
        font-weight: 700
        font-size: 36px
        line-height: 1.1
        max-width: 522px
        margin: auto
        text-align: center
    .custom-swiper
        margin: 50px 0 0 0
        .custom-swiper-wrapper
            display: flex
            gap: 20px
            .custom-swiper-slide
                width: 20%
                height: 422px
                border-radius: 10px
                overflow: hidden
                transition: 0.7s ease
                position: relative
                cursor: pointer
                &:hover
                    width: 23%
                &.active
                    width: 100%
                    &::after
                        backdrop-filter: blur(0px)
                    figcaption
                        height: auto
                        padding: 30px 30px
                        gap: 30px
                        display: initial
                        span
                            opacity: 0
                            scale: 0
                        h3
                            margin: 0
                            position: static
                            bottom: 55%
                            max-width: 325px
                            transform: rotate(0deg)
                            margin: 0
                &::before
                    content: ""
                    position: absolute
                    top: 0
                    left: 0
                    width: 100%
                    height: 100%
                    z-index: 0
                    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.65) 100%)
                &::after
                    content: ""
                    position: absolute
                    inset: 0
                    backdrop-filter: blur(25px)
                    z-index: 0
                    transition: 0.7s ease

                img
                    height: 100%
                    width: 100%
                    object-fit: cover
                figcaption
                    position: absolute
                    bottom: 0
                    left: 0
                    height: 100%
                    width: 100%
                    padding: 30px 20px
                    z-index: 1
                    transition: 0.7s ease
                    display: flex 
                    flex-direction: column-reverse
                    gap: 30px
                    align-items: center
                    span
                        display: inline-block
                        width: 46px
                        height: 46px
                        border-radius: 25px
                        transition: 0.7s ease
                        img 
                            height: 100%
                            width: 100%
                            object-fit: contain
                        
                    h3
                        font-weight: 500
                        font-size: 20px
                        line-height: 28px
                        color: $white
                        
                        position: absolute
                        bottom: 55%
                        width: 20rem
                        transition: transform 1s ease, margin 1s ease
                        transform: rotate(-90deg)
                        transform-origin: center

.virtual-tour-secB
    padding: 50px 0 
    @include beforeLayerBlur
    &::before
       top: 20%
       left: 40% 
    h2
        font-weight: 700
        font-size: 48px
        text-align: center
        max-width: 400px
        line-height: 1.1
        margin: auto
    .virtual-tour-secB-banner
        position: relative
        color: white
        z-index: 1
        margin-top: 40px
        height: 596px
        border-radius: 10px
        overflow: hidden
        position: relative
        @include media(1024)
            height: 80vh
        @include media(991)
            height: 50vh
        @include media(540)
            height: 60vh
        .common-background
            video
                position: absolute
                top: 0
                left: 0
                width: 100%
                height: 100%
                object-fit: cover
                z-index: -1
    .machinery-infrastructure-swiper
        padding: 50px 0
        position: relative
        .swiper-nav
            width: 103%
            max-width: 103%
        .swiper
            .swiper-wrapper
                .swiper-slide
                    background: $white
                    border-radius: 15px
                    overflow: hidden
                    &:hover
                        figure
                            img
                                scale: 1.1
                    figure
                        height: 288px
                        overflow: hidden
                        padding: 20px
                        img
                            width: 100%
                            height: 100%
                            object-fit: contain
                            transition: 0.5s ease
                    figcaption
                        padding: 20px 50px 50px 50px
                        h3
                            font-weight: 700
                            font-size: 18px
                            line-height: 100%
                            text-align: center
                            color: $black
                            margin-bottom: 23px
                        p
                            text-align: center
                            font-weight: 400
                            font-size: 16px

.virtual-tour-secC
    padding: 50px 0
    h2
        text-align: center
        font-weight: 700
        font-size: 36px
        margin-bottom: 40px
    .grid-box
        display: grid
        grid-template-columns: repeat(5, 1fr)
        gap: 20px
        .grid-box-item
            background: $white
            border-radius: 10px
            padding: 30px 20px
            figure
                height: 63px
                width: 63px
                line-height: 0
                margin: 0 auto 20px
                img
                    height: 100%
                    width: 100%
                    object-fit: contain
            p
                font-weight: 600
                font-size: 16px
                line-height: 20px
                text-align: center
                color: $text
    .flex-box
        display: flex
        justify-content: center
        align-items: center
        border-radius: 10px
        background: $primary
        padding: 20px 30px 
        margin-top: 40px
        gap: 120px
        figure

        p
            font-size: 20px
            line-height: 30px
            color: $white
            max-width: 782px
            strong
                font-weight: 700

.virtual-tour-secD
    h2
        text-align: center
    .photo-grid-box
        display: grid
        grid-template-columns: repeat(3,1fr)
        gap: 30px 20px
        margin: 40px auto 80px
        .col
            height: 324px
            line-height: 0
            overflow: hidden
            border-radius: 10px
            position: relative
            &::before
                content: ""
                position: absolute
                inset: 0
                top: 0
                left: 0
                background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.45) 100%)
                z-index: 1
                transition: 0.7s ease
            &::after 
                content: ""
                position: absolute
                inset: 0
                top: 0
                left: 0
                background: #00000096
                z-index: 0
                transition: 0.7s ease
                opacity: 0
            &:hover
                &::before
                    opacity: 0
                &::after  
                    opacity: 1
                figcaption
                    bottom: 45%
                    padding: 0
                    z-index: 1
                img
                    scale: 1.1
            img
                height: 100%
                width: 100%
                object-fit: cover
                transition: 0.7s ease
            figcaption
                position: absolute
                left: 50%
                bottom: 0
                transform: translate(-50%)
                z-index: 1
                text-align: center
                width: 90%
                padding: 40px 0
                transition: 0.7s ease
                h4
                    font-weight: 600
                    font-size: 20px
                    line-height: 1.2
                    color: $white
                    @include media(1024)
                        font-size: 18px

.virtual-tour-secE
    background: white
    padding: 70px 0
    .flex-box
        display: flex
        align-items: center
        justify-content: center
        gap: 50px
        position: relative
        z-index: 1
        .col
            .top
                border-left: 5px solid $primary
                padding-left: 30px
                h2
                    font-weight: 700
                    font-size: 36px
                    line-height: 1
                    margin-bottom: 10px
                p
                    max-width: 380px
            .btn2
                display: inline-block
                margin: 20px 0 0  30px
        .col:last-child
            width: 548px
            height: 407px
            line-height: 0
            img
                height: 100%
                width: 100%
                object-fit: contain


