@keyframes shine {
  from {
    opacity: 0;
    left: 0%;
  }
  50% {
    opacity: 1;
  }
  to {
    opacity: 0;
    left: 100%;
  }
}
.privacy-secA {
  margin-top: var(--headerheight);
  padding: 65px 0;
}
.privacy-secA .website-content h1 {
  font-size: 48px;
  margin-bottom: 25px;
}
.privacy-secA .website-content h2 {
  font-size: 28px;
  font-weight: 500;
}
.privacy-secA .website-content h3 {
  font-size: 24px;
  font-weight: 500;
}
.privacy-secA .website-content h4 {
  font-size: 19px;
  font-weight: 500;
}
.privacy-secA .website-content h5 {
  font-size: 17px;
}
.privacy-secA .website-content h6 {
  font-size: 15px;
}
.privacy-secA .website-content h2, .privacy-secA .website-content h3, .privacy-secA .website-content h4 {
  margin: 40px 0 15px;
}
.privacy-secA .website-content h5, .privacy-secA .website-content h6 {
  margin: 30px 0 15px;
}
.privacy-secA .website-content p, .privacy-secA .website-content li {
  color: var(--text);
  text-align: justify;
}
.privacy-secA .website-content a {
  color: var(--primary);
}
.privacy-secA .website-content a:hover {
  text-decoration: underline;
}
.privacy-secA .website-content p {
  margin-bottom: 20px;
}
.privacy-secA .website-content ul {
  margin-bottom: 20px;
  padding-left: 35px;
}
.privacy-secA .website-content ul li {
  position: relative;
  padding-left: 35px;
}
.privacy-secA .website-content ul li:not(:last-child) {
  margin-bottom: 6px;
}
.privacy-secA .website-content ul li::before {
  content: "";
  position: absolute;
  top: 8px;
  left: 0;
  width: 10px;
  aspect-ratio: 1;
  border-radius: 50%;
  background: var(--primary);
}

@media (max-width: 675px) {
  .privacy-secA {
    padding: 45px 0;
  }
}
@media (max-width: 991px) {
  .privacy-secA .website-content h1 {
    font-size: 42px;
  }
}
@media (max-width: 675px) {
  .privacy-secA .website-content h1 {
    font-size: 34px;
  }
}
@media (max-width: 520px) {
  .privacy-secA .website-content h1 {
    font-size: 28px;
  }
}
@media (max-width: 675px) {
  .privacy-secA .website-content h2 {
    font-size: 22px;
  }
}
@media (max-width: 675px) {
  .privacy-secA .website-content h3 {
    font-size: 21px;
  }
}
@media (max-width: 675px) {
  .privacy-secA .website-content ul {
    padding-left: 10px;
  }
}
@media (max-width: 675px) {
  .privacy-secA .website-content ul li {
    padding-left: 25px;
  }
}

.thanks-banner {
  height: 100vh;
  margin-top: 0;
}
.thanks-banner::before {
  content: "";
  position: absolute;
  bottom: 20%;
  right: 0%;
  width: 250px;
  height: 388px;
  background: url(../../../assets/images/Vectors/vector.png) no-repeat;
  z-index: 1;
  transform: scaleY(-1) scaleX(-1);
  background-size: contain;
  opacity: 0.4;
}
.thanks-banner .logo {
  padding: 0px 0 10px 0;
}
.thanks-banner h1 {
  max-width: 100% !important;
}
@media only screen and (max-width: 540px) {
  .thanks-banner h1 {
    font-size: 30px;
  }
}
.thanks-banner .content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  width: 90%;
  z-index: 2;
}
.thanks-banner .custom-btn {
  display: inline-flex;
  align-items: center;
  gap: 10px;
  padding: 8px 20px;
  background: var(--primary);
  color: var(--white);
  text-decoration: none;
  font-weight: 700;
  position: relative;
  overflow: hidden;
  border: 1px solid transparent;
  transition: 0.5s ease;
  width: -moz-fit-content;
  width: fit-content;
  margin: auto;
  margin-top: 30px;
}
.thanks-banner .custom-btn::before {
  content: "";
  position: absolute;
  inset: 0;
  background: var(--gradient-a);
  transition: 0.5s ease;
  z-index: 0;
  pointer-events: none;
  opacity: 0;
}
.thanks-banner .custom-btn:hover {
  background: transparent;
  color: #fff;
  border-color: transparent;
}
.thanks-banner .custom-btn:hover::before {
  opacity: 1;
}
.thanks-banner .custom-btn:hover figure svg path {
  fill: #fff;
}
.thanks-banner .custom-btn .figure {
  line-height: 0;
  position: relative;
  z-index: 1;
}
.thanks-banner .custom-btn .figure svg path {
  transition: 0.5s ease;
}
.thanks-banner .custom-btn span {
  font-weight: 800;
  font-size: 14px;
  position: relative;
  z-index: 1;
  transition: 0.5s;
  text-transform: uppercase;
}/*# sourceMappingURL=other.css.map */