@keyframes shine {
  from {
    opacity: 0;
    left: 0%;
  }
  50% {
    opacity: 1;
  }
  to {
    opacity: 0;
    left: 100%;
  }
}
.product-banner {
  position: relative;
  color: white;
  overflow: hidden;
  height: 100vh;
  z-index: 1;
}
@media only screen and (max-width: 1024px) {
  .product-banner {
    height: 80vh;
  }
}
@media only screen and (max-width: 991px) {
  .product-banner {
    height: 50vh;
  }
}
@media only screen and (max-width: 540px) {
  .product-banner {
    height: 60vh;
  }
}
.product-banner::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(270deg, rgba(0, 0, 0, 0) 23.08%, rgba(0, 0, 0, 0.85) 100%);
}
@media only screen and (max-width: 540px) {
  .product-banner::before {
    background: linear-gradient(184deg, rgba(0, 0, 0, 0) 8.08%, rgba(0, 0, 0, 0.85) 100%);
  }
}
.product-banner .common-background video, .product-banner .common-background img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  z-index: -1;
}
@media only screen and (max-width: 540px) {
  .product-banner .common-background .container {
    padding: 0;
  }
}
.product-banner .common-background .container .bg-wrapper {
  position: absolute;
  z-index: 1;
  width: 90%;
  left: 50%;
  bottom: 38%;
  transform: translate(-50%);
}
@media only screen and (max-width: 991px) {
  .product-banner .common-background .container .bg-wrapper {
    bottom: 10%;
  }
}
@media only screen and (max-width: 540px) {
  .product-banner .common-background .container .bg-wrapper {
    bottom: 10%;
    margin-left: 0;
  }
}
.product-banner .common-background .container .bg-wrapper h1 {
  max-width: 612px;
  font-weight: 800;
  font-size: 48px;
  line-height: 55px;
  padding-left: 20px;
  border-left: 8px solid var(--primary);
  margin-bottom: 10px;
}
@media only screen and (max-width: 991px) {
  .product-banner .common-background .container .bg-wrapper h1 {
    max-width: 70%;
    line-height: 1.2;
    font-size: 40px;
  }
}
@media only screen and (max-width: 540px) {
  .product-banner .common-background .container .bg-wrapper h1 {
    max-width: 100%;
    font-size: 25px;
    line-height: 1.1;
    text-align: center;
    padding: 0 20px;
    margin-bottom: 20px;
    border-left: 0;
  }
}
.product-banner .common-background .container .bg-wrapper p {
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: var(--white);
  max-width: 517px;
}
@media only screen and (max-width: 540px) {
  .product-banner .common-background .container .bg-wrapper p {
    text-align: center;
    max-width: 90%;
    margin: auto;
    font-size: 15px;
    line-height: 1.3;
  }
}

.breadcrumb {
  background: #F4F4F4;
}
.breadcrumb ul {
  display: flex;
  align-items: center;
  padding: 10px;
  gap: 15px;
}
@media only screen and (max-width: 540px) {
  .breadcrumb ul {
    gap: 5px;
  }
}
.breadcrumb ul li a {
  color: var(--black);
  font-weight: 600;
  font-size: 14px;
  line-height: 16px;
}
.breadcrumb ul li a.active {
  color: var(--primary);
}
@media only screen and (max-width: 540px) {
  .breadcrumb ul li a {
    font-size: 11px;
  }
}
@media only screen and (max-width: 540px) {
  .breadcrumb ul span {
    height: 8px;
    line-height: 0;
  }
}

.product-secB {
  overflow: hidden;
}
.product-secB .heading h2 {
  font-size: 48px;
  font-weight: 700;
}
@media only screen and (max-width: 540px) {
  .product-secB .heading h2 {
    font-size: 40px;
  }
}
.product-secB .flex-box {
  position: relative;
}
.product-secB .flex-box:nth-child(even)::before {
  content: "";
  position: absolute;
  width: 355px;
  height: 538px;
  left: 0;
  top: 60%;
  transform: translateY(-50%) scale(1);
  background: url(../../../assets/images/Vectors/vector.png);
  background-size: contain;
  background-repeat: no-repeat;
}
@media only screen and (max-width: 540px) {
  .product-secB .flex-box:nth-child(even)::before {
    width: 200px;
    height: 358px;
  }
}
.product-secB .flex-box:nth-child(even) .container {
  flex-direction: row-reverse;
}
.product-secB .flex-box:nth-child(even) .container::before {
  left: 0;
  right: auto;
  top: 50%;
  transform: translateY(-50%);
}
@media only screen and (max-width: 768px) {
  .product-secB .flex-box:nth-child(even) .container {
    flex-direction: column;
    gap: 40px;
    padding: 50px 20px 50px 20px;
  }
}
@media only screen and (max-width: 540px) {
  .product-secB .flex-box:nth-child(even) .container {
    padding: 30px 0;
    gap: 20px;
  }
}
.product-secB .flex-box:nth-child(odd)::before {
  content: "";
  position: absolute;
  width: 355px;
  height: 538px;
  right: 0;
  top: 60%;
  transform: translateY(-50%) scale(-1);
  background: url(../../../assets/images/Vectors/vector.png);
  background-size: contain;
  background-repeat: no-repeat;
}
@media only screen and (max-width: 540px) {
  .product-secB .flex-box:nth-child(odd)::before {
    width: 200px;
    height: 358px;
  }
}
.product-secB .flex-box:nth-child(odd) .container {
  flex-direction: row;
}
@media only screen and (max-width: 768px) {
  .product-secB .flex-box:nth-child(odd) .container {
    flex-direction: column;
    gap: 40px;
    padding: 50px 20px 50px 20px;
  }
}
@media only screen and (max-width: 540px) {
  .product-secB .flex-box:nth-child(odd) .container {
    padding: 30px 0;
    gap: 20px;
  }
}
.product-secB .flex-box .container {
  padding: 50px 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 90px;
  position: relative;
  overflow: hidden;
}
.product-secB .flex-box .container .flex-box-item:first-child figure {
  width: 580px;
  height: 380px;
}
@media only screen and (max-width: 1024px) {
  .product-secB .flex-box .container .flex-box-item:first-child figure {
    width: auto;
    height: auto;
  }
}
@media only screen and (max-width: 540px) {
  .product-secB .flex-box .container .flex-box-item:first-child figure {
    width: 95%;
    margin: auto;
  }
}
.product-secB .flex-box .container .flex-box-item:first-child figure img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 10px;
  overflow: hidden;
  z-index: 1;
  position: relative;
}
.product-secB .flex-box .container .flex-box-item:last-child {
  position: relative;
}
@media only screen and (max-width: 1024px) {
  .product-secB .flex-box .container .flex-box-item:last-child {
    width: 60%;
  }
}
@media only screen and (max-width: 991px) {
  .product-secB .flex-box .container .flex-box-item:last-child {
    width: 100%;
    text-align: center;
  }
}
.product-secB .flex-box .container .flex-box-item:last-child h3 {
  margin-bottom: 40px;
  max-width: 90%;
  line-height: 0.9;
  color: var(--black);
  font-weight: 700;
  font-size: 48px;
  position: relative;
}
@media only screen and (max-width: 1024px) {
  .product-secB .flex-box .container .flex-box-item:last-child h3 {
    max-width: 100%;
  }
}
@media only screen and (max-width: 540px) {
  .product-secB .flex-box .container .flex-box-item:last-child h3 {
    font-size: 25px;
    line-height: 1.1;
    width: -moz-fit-content;
    width: fit-content;
    max-width: 90%;
    margin: 0 auto 25px;
  }
}
.product-secB .flex-box .container .flex-box-item:last-child h3::before {
  content: "";
  position: absolute;
  bottom: -30%;
  left: 0;
  height: 5px;
  width: 66px;
  background: var(--primary);
}
@media only screen and (max-width: 540px) {
  .product-secB .flex-box .container .flex-box-item:last-child h3::before {
    left: 50%;
    bottom: -30%;
    transform: translate(-50%);
  }
}
.product-secB .flex-box .container .flex-box-item:last-child p {
  max-width: 80%;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 1.5rem;
}
@media only screen and (max-width: 1024px) {
  .product-secB .flex-box .container .flex-box-item:last-child p {
    max-width: 100%;
  }
}
@media only screen and (max-width: 540px) {
  .product-secB .flex-box .container .flex-box-item:last-child p {
    font-size: 14px;
    max-width: 90%;
    margin: 0 auto 20px;
  }
}
.product-secB .flex-box .container .flex-box-item:last-child .custom-btn {
  display: inline-flex;
  align-items: center;
  gap: 10px;
  padding: 8px 20px;
  background: var(--primary);
  color: #000;
  text-decoration: none;
  font-weight: 700;
  position: relative;
  overflow: hidden;
  border: 1px solid transparent;
  transition: 0.5s ease;
  margin-top: 30px;
}
.product-secB .flex-box .container .flex-box-item:last-child .custom-btn::before {
  content: "";
  position: absolute;
  inset: 0;
  background: var(--gradient-a);
  transition: 0.5s ease;
  z-index: 0;
  pointer-events: none;
  opacity: 0;
}
.product-secB .flex-box .container .flex-box-item:last-child .custom-btn:hover {
  background: transparent;
  color: #fff;
  border-color: transparent;
}
.product-secB .flex-box .container .flex-box-item:last-child .custom-btn:hover::before {
  opacity: 1;
}
.product-secB .flex-box .container .flex-box-item:last-child .custom-btn:hover figure svg path {
  fill: #fff;
}
.product-secB .flex-box .container .flex-box-item:last-child .custom-btn:hover figure {
  line-height: 0;
  position: relative;
  z-index: 1;
}
.product-secB .flex-box .container .flex-box-item:last-child .custom-btn:hover figure svg path {
  transition: 0.5s ease;
}
.product-secB .flex-box .container .flex-box-item:last-child .custom-btn:hover span {
  font-weight: 700;
  font-size: 16px;
  position: relative;
  z-index: 1;
  transition: 0.5s ease;
}/*# sourceMappingURL=products-listing.css.map */