@keyframes shine {
  from {
    opacity: 0;
    left: 0%;
  }
  50% {
    opacity: 1;
  }
  to {
    opacity: 0;
    left: 100%;
  }
}
.stikcy-breadcrumb {
  position: sticky;
  top: var(--headerheight);
  z-index: 3;
}

.breadcrumb {
  background: #F4F4F4;
}
.breadcrumb ul {
  display: flex;
  align-items: center;
  padding: 10px;
  gap: 15px;
}
@media only screen and (max-width: 540px) {
  .breadcrumb ul {
    gap: 5px;
  }
}
.breadcrumb ul li a {
  color: var(--black);
  font-weight: 600;
  font-size: 14px;
  line-height: 16px;
}
.breadcrumb ul li a.active {
  color: var(--primary);
}
@media only screen and (max-width: 540px) {
  .breadcrumb ul li a {
    font-size: 11px;
  }
}
@media only screen and (max-width: 540px) {
  .breadcrumb ul span {
    height: 8px;
    line-height: 0;
  }
}

.product-details-banner {
  position: relative;
  margin-top: 90px;
  padding: 50px 0;
  overflow: hidden;
}
.product-details-banner::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(270deg, #05B4C4 0%, #03565E 100%);
  z-index: 0;
}
.product-details-banner::after {
  content: "";
  position: absolute;
  top: 37%;
  left: 0%;
  width: 350px;
  height: 538px;
  background: url("../../../assets/images/Vectors/vector.png") no-repeat;
  z-index: 0;
  transform: scaleY(-1);
}
@media only screen and (max-width: 540px) {
  .product-details-banner::after {
    width: 250px;
    height: 350px;
    background-size: contain;
  }
}
.product-details-banner .flex-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 50px;
  position: relative;
  z-index: 1;
}
.product-details-banner .flex-box .flex-box-item:first-child {
  flex: 0 1 50%;
}
.product-details-banner .flex-box .flex-box-item:first-child h1 {
  font-weight: 600;
  font-size: 36px;
  max-width: 551px;
  color: var(--white);
  margin-bottom: 15px;
}
.product-details-banner .flex-box .flex-box-item:first-child p {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.4;
  color: var(--white);
  max-width: 517px;
}
.product-details-banner .flex-box .flex-box-item:first-child .btn-flex {
  display: flex;
  align-items: center;
  gap: 30px;
  justify-content: start;
  margin-top: 40px;
}
.product-details-banner .flex-box .flex-box-item:first-child .btn-flex .wtp {
  line-height: 0;
}
.product-details-banner .flex-box .flex-box-item:first-child .btn-flex .btn2.primary {
  margin: initial;
}
.product-details-banner .flex-box .flex-box-item:first-child .btn-flex .whitewhtie {
  color: var(--primary);
}
.product-details-banner .flex-box .flex-box-item:first-child .btn-flex .whitewhtie::before {
  background: white;
  color: var(--primary);
}
.product-details-banner .flex-box .flex-box-item:first-child .btn-flex .whitewhtie:hover {
  color: var(--white);
}
.product-details-banner .flex-box .flex-box-item:first-child .btn-flex .whitewhtie:hover::after {
  border: 1px solid var(--white);
  background: transparent;
}
.product-details-banner .flex-box .flex-box-item:first-child .desclaimer {
  font-style: Italic;
  font-size: 13px;
  line-height: 24px;
  color: var(--white);
  margin-top: 20px;
}
.product-details-banner .flex-box .flex-box-item:first-child .desclaimer strong {
  font-weight: 700;
}
.product-details-banner .flex-box .flex-box-item:first-child .bottom-flex {
  display: flex;
  align-items: center;
  gap: 25px;
  margin-top: 100px;
}
.product-details-banner .flex-box .flex-box-item:first-child .bottom-flex span {
  border: 1px solid rgba(255, 255, 255, 0.5019607843);
  height: 30px;
}
.product-details-banner .flex-box .flex-box-item:first-child .bottom-flex .col {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}
.product-details-banner .flex-box .flex-box-item:first-child .bottom-flex .col figure {
  height: 26px;
  width: 26px;
}
.product-details-banner .flex-box .flex-box-item:first-child .bottom-flex .col figure img {
  height: 100%;
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
.product-details-banner .flex-box .flex-box-item:first-child .bottom-flex .col span {
  font-weight: 600;
  font-size: 14px;
  text-align: center;
  color: var(--white);
  border: none;
  line-height: 2;
}
.product-details-banner .flex-box .flex-box-item:last-child figure {
  height: 412px;
  border-radius: 10px;
  overflow: hidden;
}
.product-details-banner .flex-box .flex-box-item:last-child figure img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.product-details-banner .flex-box .flex-box-item:last-child .grid-box {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 15px;
  margin-top: 15px;
}
.product-details-banner .flex-box .flex-box-item:last-child .grid-box .grid-box-item {
  width: 86px;
  height: 77px;
  border-radius: 5px;
  overflow: hidden;
  opacity: 0.5;
  cursor: pointer;
}
.product-details-banner .flex-box .flex-box-item:last-child .grid-box .grid-box-item.active {
  opacity: 1;
}
.product-details-banner .flex-box .flex-box-item:last-child .grid-box .grid-box-item img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.prodcut-details-secA {
  padding: 50px 0;
}
.prodcut-details-secA .tab-nav {
  display: flex;
  justify-content: center;
  gap: 80px;
}
.prodcut-details-secA .tab-nav li {
  color: rgba(0, 0, 0, 0.5019607843);
  font-weight: 600;
  font-size: 24px;
  line-height: 24px;
  transition: 0.5s ease;
  position: relative;
  padding-bottom: 15px;
}
.prodcut-details-secA .tab-nav li::before {
  content: "";
  position: absolute;
  bottom: 0%;
  left: 0;
  width: 0;
  height: 4px;
  background: var(--primary);
  transition: 0.5s ease;
}
.prodcut-details-secA .tab-nav li.active {
  color: var(--black);
}
.prodcut-details-secA .tab-nav li.active::before {
  width: 100%;
}
.prodcut-details-secA .flex-box {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
  padding: 50px 0;
}
.prodcut-details-secA .flex-box figure {
  width: 580px;
  height: 416px;
  border-radius: 10px;
  overflow: hidden;
}
.prodcut-details-secA .flex-box figure img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.prodcut-details-secA .flex-box .tab-nav-content .tabs {
  transform: translateY(100px);
  opacity: 0;
  transition: 1s ease;
}
.prodcut-details-secA .flex-box .tab-nav-content .tabs.active {
  transform: translateY(0);
  opacity: 1;
}
.prodcut-details-secA .flex-box .tab-nav-content .tabs .content p {
  max-width: 501px;
}
.prodcut-details-secA .flex-box .tab-nav-content .tabs .content ul {
  margin-top: 15px;
}
.prodcut-details-secA .flex-box .tab-nav-content .tabs .content ul li {
  margin-bottom: 10px;
  padding-left: 20px;
  position: relative;
}
.prodcut-details-secA .flex-box .tab-nav-content .tabs .content ul li::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  transform: translate(-50%, -50%);
  width: 15px;
  height: 15px;
  background: url("../../../assets/icon/primary-right-arrow.svg");
}
.prodcut-details-secA .flex-box .tab-nav-content .tabs .content .btn2 {
  margin-top: 30px;
}

.prodcut-details-secB {
  padding: 50px 0;
}
.prodcut-details-secB .table-container {
  max-width: 969px;
  margin: 0 auto;
  background: var(--white);
  overflow: hidden;
}
.prodcut-details-secB .table-container table {
  width: 100%;
  border-collapse: collapse;
}
.prodcut-details-secB .table-container table thead th {
  background: #F3F3F3;
  color: var(--text);
  font-weight: bold;
  text-align: left;
}
.prodcut-details-secB .table-container table .model-title {
  background: #F3F3F3;
  color: var(--text);
  font-weight: bold;
  text-align: right;
  padding: 10px;
}
.prodcut-details-secB .table-container table .highlight {
  font-weight: bold;
  color: var(--text);
}
.prodcut-details-secB .table-container table th, .prodcut-details-secB .table-container table td {
  padding: 12px 15px;
  text-align: left;
  border-bottom: 1px solid #DADADA;
  border-right: 1px solid #DADADA;
  color: var(--text);
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
}

.prodcut-details-secC {
  padding: 50px 0;
}
.prodcut-details-secC h2 {
  text-align: center;
  font-weight: 700;
  font-size: 36px;
  line-height: 48px;
}
.prodcut-details-secC .options-available-slider {
  position: relative;
}
.prodcut-details-secC .options-available-slider .swiper-nav {
  top: 42%;
}
.prodcut-details-secC .swiper {
  padding: 40px 0;
  max-width: 1230px;
}
.prodcut-details-secC .swiper .swiper-wrapper .swiper-slide figure {
  height: 181px;
  border-radius: 10px;
  overflow: hidden;
  position: relative;
}
.prodcut-details-secC .swiper .swiper-wrapper .swiper-slide figure::before {
  content: "";
  display: block;
  width: 0px;
  height: 86%;
  position: absolute;
  top: 7%;
  left: 0%;
  opacity: 0;
  background: white;
  box-shadow: 0 0 55px 12px white;
  transform: skewX(-20deg);
  z-index: 1;
}
.prodcut-details-secC .swiper .swiper-wrapper .swiper-slide figure:hover::before {
  animation: shine 0.4s linear;
  animation-fill-mode: none;
}
.prodcut-details-secC .swiper .swiper-wrapper .swiper-slide figure img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.prodcut-details-secC .swiper .swiper-wrapper .swiper-slide figcaption h4 {
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: var(--black);
  text-align: center;
  padding: 20px;
}

.prodcut-details-secD .container {
  background: var(--white);
  border-radius: 10px;
  border-bottom: 5px solid #05B4C4;
  padding: 30px 60px 30px 30px;
  margin-bottom: 50px;
}
.prodcut-details-secD .container .flex-box {
  display: flex;
  justify-content: space-between;
  gap: 50px;
}
.prodcut-details-secD .container .flex-box .line {
  border-left: 1px solid rgba(0, 0, 0, 0.2117647059);
}
.prodcut-details-secD .container .flex-box .col {
  flex: 0 1 50%;
}
.prodcut-details-secD .container .flex-box .col h2 {
  font-weight: 700;
  font-size: 32px;
  line-height: 48px;
  color: var(--black);
  border-left: 5px solid var(--primary);
  padding: 0 0 0 20px;
  line-height: 1.1;
  margin-bottom: 30px;
}
.prodcut-details-secD .container .flex-box .col ul li {
  margin-bottom: 20px;
  padding-left: 20px;
  position: relative;
}
.prodcut-details-secD .container .flex-box .col ul li::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  transform: translate(-50%, 40%);
  width: 15px;
  height: 15px;
  background: url("../../../assets/icon/primary-right-arrow.svg");
}
.prodcut-details-secD .container .flex-box .col ul li strong {
  color: var(--black);
}/*# sourceMappingURL=products-detail.css.map */