@keyframes shine {
  from {
    opacity: 0;
    left: 0%;
  }
  50% {
    opacity: 1;
  }
  to {
    opacity: 0;
    left: 100%;
  }
}
.sub-products-banner {
  position: relative;
  color: white;
  overflow: hidden;
  height: 100vh;
  z-index: 1;
}
@media only screen and (max-width: 1024px) {
  .sub-products-banner {
    height: 80vh;
  }
}
@media only screen and (max-width: 991px) {
  .sub-products-banner {
    height: 50vh;
  }
}
@media only screen and (max-width: 540px) {
  .sub-products-banner {
    height: 60vh;
  }
}
.sub-products-banner::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(270deg, rgba(0, 0, 0, 0) 23.08%, rgba(0, 0, 0, 0.85) 100%);
}
@media only screen and (max-width: 540px) {
  .sub-products-banner::before {
    background: linear-gradient(184deg, rgba(0, 0, 0, 0) 8.08%, rgba(0, 0, 0, 0.85) 100%);
  }
}
.sub-products-banner .common-background video, .sub-products-banner .common-background img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  z-index: -1;
}
@media only screen and (max-width: 540px) {
  .sub-products-banner .common-background .container {
    padding: 0;
  }
}
.sub-products-banner .common-background .container .bg-wrapper {
  position: absolute;
  z-index: 1;
  width: 90%;
  left: 50%;
  bottom: 38%;
  transform: translate(-50%);
}
@media only screen and (max-width: 991px) {
  .sub-products-banner .common-background .container .bg-wrapper {
    bottom: 10%;
  }
}
@media only screen and (max-width: 540px) {
  .sub-products-banner .common-background .container .bg-wrapper {
    bottom: 10%;
    margin-left: 0;
  }
}
.sub-products-banner .common-background .container .bg-wrapper h1 {
  max-width: 612px;
  font-weight: 800;
  font-size: 48px;
  line-height: 55px;
  padding-left: 20px;
  border-left: 8px solid var(--primary);
  margin-bottom: 10px;
}
@media only screen and (max-width: 991px) {
  .sub-products-banner .common-background .container .bg-wrapper h1 {
    max-width: 70%;
    line-height: 1.2;
    font-size: 40px;
  }
}
@media only screen and (max-width: 540px) {
  .sub-products-banner .common-background .container .bg-wrapper h1 {
    max-width: 100%;
    font-size: 25px;
    line-height: 1.1;
    text-align: center;
    padding: 0 20px;
    margin-bottom: 20px;
    border-left: 0;
  }
}
.sub-products-banner .common-background .container .bg-wrapper p {
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: var(--white);
  max-width: 517px;
}
@media only screen and (max-width: 540px) {
  .sub-products-banner .common-background .container .bg-wrapper p {
    text-align: center;
    max-width: 90%;
    margin: auto;
    font-size: 15px;
    line-height: 1.3;
  }
}

.breadcrumb {
  background: #F4F4F4;
}
.breadcrumb ul {
  display: flex;
  align-items: center;
  padding: 10px;
  gap: 15px;
}
@media only screen and (max-width: 540px) {
  .breadcrumb ul {
    gap: 5px;
  }
}
.breadcrumb ul li a {
  color: var(--black);
  font-weight: 600;
  font-size: 14px;
  line-height: 16px;
}
.breadcrumb ul li a.active {
  color: var(--primary);
}
@media only screen and (max-width: 540px) {
  .breadcrumb ul li a {
    font-size: 11px;
  }
}
@media only screen and (max-width: 540px) {
  .breadcrumb ul span {
    height: 8px;
    line-height: 0;
  }
}

.sub_productA {
  position: relative;
}
.sub_productA .main_wrapper {
  gap: 30px;
}
@media only screen and (max-width: 768px) {
  .sub_productA .main_wrapper {
    flex-direction: column;
    gap: 40px;
  }
}
.sub_productA .main_wrapper .colA {
  flex: 0 1 25%;
}
.sub_productA .main_wrapper .colA .filter_option_wrapper {
  position: sticky;
  top: calc(var(--headerheight) + 20px);
  border-radius: 10px;
  background: var(--white);
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.2509803922);
}
.sub_productA .main_wrapper .colA .filter_option_wrapper .title_head {
  justify-content: space-between;
  padding: 10px 20px;
  background: var(--gradient-a);
  border-radius: 10px 10px 0 0;
}
.sub_productA .main_wrapper .colA .filter_option_wrapper .title_head h6 {
  font-size: 20px;
  font-weight: 600;
  color: var(--white);
}
.sub_productA .main_wrapper .colA .filter_option_wrapper .title_head .clear_all_btn {
  font-size: 14px;
  font-weight: 500;
  color: var(--white);
}
.sub_productA .main_wrapper .colA .filter_option_wrapper .filter_options {
  overflow-y: auto;
  max-height: calc(100vh - 200px);
  scrollbar-width: thin;
  scrollbar-color: #cdcdcd #ffffff;
  padding: 20px 0;
}
.sub_productA .main_wrapper .colA .filter_option_wrapper .filter_options::-webkit-scrollbar {
  width: 8px;
}
.sub_productA .main_wrapper .colA .filter_option_wrapper .filter_options::-webkit-scrollbar-thumb {
  border-radius: 25px;
}
.sub_productA .main_wrapper .colA .filter_option_wrapper .filter_options .filter-option-group {
  margin-bottom: 10px;
}
.sub_productA .main_wrapper .colA .filter_option_wrapper .filter_options .filter-option-group .filter-option-header {
  background: rgba(222, 222, 222, 0.3803921569);
  padding: 0.6rem 1.5rem;
  position: relative;
}
.sub_productA .main_wrapper .colA .filter_option_wrapper .filter_options .filter-option-group .filter-option-header label {
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: var(--text);
}
.sub_productA .main_wrapper .colA .filter_option_wrapper .filter_options .filter-option-group .filter-option-header input {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  opacity: 0;
  cursor: pointer;
}
.sub_productA .main_wrapper .colA .filter_option_wrapper .filter_options .filter-option-group .filter-option-header .icon {
  display: inline-block;
  width: 18px;
  height: 18px;
  position: absolute;
  top: 50%;
  right: 2%;
  transform: translate(-50%, -50%);
}
.sub_productA .main_wrapper .colA .filter_option_wrapper .filter_options .filter-option-group .filter-option-header .icon::before {
  width: 100%;
  height: 2px;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
}
.sub_productA .main_wrapper .colA .filter_option_wrapper .filter_options .filter-option-group .filter-option-header .icon::after {
  height: 100%;
  width: 2px;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}
.sub_productA .main_wrapper .colA .filter_option_wrapper .filter_options .filter-option-group .filter-option-header .icon::before, .sub_productA .main_wrapper .colA .filter_option_wrapper .filter_options .filter-option-group .filter-option-header .icon::after {
  content: "";
  position: absolute;
  background-color: #666666;
  transition: transform 0.3s ease;
}
.sub_productA .main_wrapper .colA .filter_option_wrapper .filter_options .filter-option-group.open .filter-option-header label {
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  color: var(--primary);
}
.sub_productA .main_wrapper .colA .filter_option_wrapper .filter_options .filter-option-group.open .icon {
  width: 20px;
}
.sub_productA .main_wrapper .colA .filter_option_wrapper .filter_options .filter-option-group.open .icon::after {
  transform: translateX(-50%) scaleY(0);
}
.sub_productA .main_wrapper .colA .filter_option_wrapper .filter_options .filter-option-group.open .icon::before {
  width: 22px;
  background-color: var(--primary);
}
.sub_productA .main_wrapper .colA .filter_option_wrapper .filter_options .filter-option-group .filter-options-body {
  padding: 20px 0 10px 0;
}
.sub_productA .main_wrapper .colA .filter_option_wrapper .filter_options .filter-option-group .filter-options-body ul li {
  padding: 0px 20px 14px 20px;
  display: flex;
  position: relative;
  align-items: center;
  gap: 12px;
  width: -moz-fit-content;
  width: fit-content;
}
.sub_productA .main_wrapper .colA .filter_option_wrapper .filter_options .filter-option-group .filter-options-body ul li:last-child {
  padding: 0px 20px 0px 20px;
}
.sub_productA .main_wrapper .colA .filter_option_wrapper .filter_options .filter-option-group .filter-options-body ul li input {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  opacity: 0;
  cursor: pointer;
}
.sub_productA .main_wrapper .colA .filter_option_wrapper .filter_options .filter-option-group .filter-options-body ul li .chk_box {
  --chk_height: 24px;
  height: var(--chk_height);
  width: var(--chk_height);
  border-radius: 5px;
  background-color: #D9D9D9;
  position: relative;
  transition: 0.5s ease;
  position: relative;
}
.sub_productA .main_wrapper .colA .filter_option_wrapper .filter_options .filter-option-group .filter-options-body ul li .chk_box::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 0;
  pointer-events: none;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  background: url(../../icon/tick-white.svg);
}
.sub_productA .main_wrapper .colA .filter_option_wrapper .filter_options .filter-option-group .filter-options-body ul li .chk_box::before {
  background-repeat: no-repeat;
  background-size: 48%;
  background-position: center center;
  opacity: 0;
}
.sub_productA .main_wrapper .colA .filter_option_wrapper .filter_options .filter-option-group .filter-options-body ul li:has(input:checked) .chk_box {
  background-color: var(--secondary);
  border-color: var(--secondary);
  transition: 0.5s ease;
}
.sub_productA .main_wrapper .colA .filter_option_wrapper .filter_options .filter-option-group .filter-options-body ul li:has(input:checked) .chk_box::before {
  opacity: 1;
}
.sub_productA .main_wrapper .colB {
  flex: 1;
  width: 100%;
}
.sub_productA .main_wrapper .colB .grid-box {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}
@media only screen and (max-width: 991px) {
  .sub_productA .main_wrapper .colB .grid-box {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media only screen and (max-width: 540px) {
  .sub_productA .main_wrapper .colB .grid-box {
    grid-template-columns: repeat(1, 1fr);
  }
}
.sub_productA .main_wrapper .colB .grid-box .col {
  background: var(--white);
  border-radius: 10px;
  overflow: hidden;
}
.sub_productA .main_wrapper .colB .grid-box .col:hover figure img {
  scale: 1.1;
}
.sub_productA .main_wrapper .colB .grid-box .col figure {
  height: 218px;
  line-height: 0;
  overflow: hidden;
  position: relative;
}
.sub_productA .main_wrapper .colB .grid-box .col figure::before {
  content: "";
  display: block;
  width: 0px;
  height: 86%;
  position: absolute;
  top: 7%;
  left: 0%;
  opacity: 0;
  background: white;
  box-shadow: 0 0 55px 12px white;
  transform: skewX(-20deg);
  z-index: 1;
}
.sub_productA .main_wrapper .colB .grid-box .col figure:hover::before {
  animation: shine 0.4s linear;
  animation-fill-mode: none;
}
.sub_productA .main_wrapper .colB .grid-box .col figure img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  transition: 0.5s ease;
}
.sub_productA .main_wrapper .colB .grid-box .col figcaption {
  padding: 20px;
}
.sub_productA .main_wrapper .colB .grid-box .col figcaption h6 {
  font-weight: 600;
  font-size: 16px;
  text-align: center;
  color: var(--black);
}/*# sourceMappingURL=sub-products.css.map */